.button{
    padding: $s-size $m-size;
    font-size: $font-size-large;
    background-color: $cta-blue;
    border: none;
    display: inline-block;
    color: white;
    line-height: 1;
    font-weight: 300;
    text-decoration: none;
}

.button--secondary{
    background-color: lighten($dark-gray, 20%);
}

.button--link{
    background: none;
    border: none;
}