// Spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.2rem;

//Break Points
$mobile-break-point: 45rem;

//Font sizes
$font-size-large: 2rem;

//Colors
$light-color: #ececec;
$dark-gray: #333333;
$cta-blue: #237cd8;
$dark-blue: #364051;